{{#section "head"}}

{{/section}}

 <h2 id="demo">Let jQuery AJAX change this text</h2>
 <button>
	Change Content
 </button>

{{#section "bottom"}}
<script>
$(document).ready(function(){
  $("button").click(function(){
      $("#demo").load("info");
  });
});
</script>
{{/section}}
